<h1>List of users</h1>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
      <% if current_user.present? %>
        <form action="/insert_follow_request" method="post">
        <input type="hidden" name="query_recipient_id" value="">
        <button>
          Follow
        </button>
        </form>
      <% else %>
      <% end %>
    </td>
    <td>
      <a href="/users/">Show details</a>
    </td>
  </tr>
</table>
